/* .App{ */
    /* font-family: 'Open Sans', sans-serif; */
/* } */
.main-box{
    padding: 20px;
    text-align: center;

}
.margin-left{
    margin-left: 10px;
}
/* .App{
    
} */

.blurred-bg{
    position: absolute;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(300px);
  /* -webkit-filter: blur(8px); */
}