.main-box{
    padding: 20px;
    text-align: center;

}
.margin-left{
    margin-left: 10px;
}
.nav-bar{
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
    line-height: 30px;
    padding: 5px;
}
.table-row:hover{
    background-color: rgb(192, 192, 192);
}
.delete-log{
    color: rgb(250, 60, 60);
    font-size: 20px;
    font-weight: bold;
}
.delete-log-spinner{
    font-size: 20px;
    font-weight: bold;
}
.refresh-logs{
    margin-left: 20px;
    font-size: 20px;
}
.loading-logs-spinner{
    font-size: 50px;
}
.log-table{
    margin: auto;
}
.hover-cursor{
    cursor: pointer;
}

.blurred-bg{
    position: absolute;
    background-color: rgb(240, 238, 238);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.confirm-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-body {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    padding: 30px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
}
.button-confirm-no{
    margin-left: 20px;
}