.main-box {
  padding: 20px;
  text-align: center;
}
.margin-left {
  margin-left: 10px;
}
.menu-block {
  display: flex;
}
.left-menu {
  margin-right: auto;
}
.right-menu {
  margin-left: auto;
}
.nav-bar {
  background-color: rgb(187, 187, 187);
  border-radius: 10px;
  font-size: 20px;
  padding: 0px;
}
.border-rounded {
  border-radius: 20px;
  margin: 5px;
}
.table-row:hover {
  background-color: rgb(192, 192, 192);
}
.delete-log {
  color: rgb(250, 60, 60);
  font-size: 20px;
  font-weight: bold;
}
.delete-log-spinner {
  font-size: 20px;
  font-weight: bold;
}
.refresh-logs {
  margin-left: 20px;
  font-size: 20px;
}
.loading-logs-spinner {
  font-size: 50px;
}
.log-table {
  /* margin: auto; */
  /* background-color: aqua; */
}
.transparent-background {
  background-color: rgba(255, 255, 255, 0.911);
  border-radius: 10px;
  padding: 20px;
  max-width: fit-content;
  margin: 20px auto 0 auto;
}
.ViewPosts {
  font-size: 20px;
}
.Data {
  height: 300px;
  max-width: inherit;
}

.hover-cursor {
  cursor: pointer;
}

body {
  background-image: url("https://i.imgur.com/ygQr777.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.confirm-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-body {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
}
.button-confirm-no {
  margin-left: 20px;
}
.register-form,
.login-form {
  padding: 0 10px 0 10px;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  border-radius: 5px;
  width: 100%;
  background: rgb(28, 184, 65); /* this is a green */
}
