/* .App{ */
    /* font-family: 'Open Sans', sans-serif; */
/* } */
.main-box{
    padding: 20px;
    text-align: center;

}
.margin-left{
    margin-left: 10px;
}
.nav-bar{
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
    line-height: 30px;
    padding: 5px;
}
.table-row:hover{
    background-color: rgb(192, 192, 192);
}
.delete-log{
    color: rgb(250, 60, 60);
    font-size: 20px;
    font-weight: bold;
}
.log-table{
    margin: auto;
}
/* .App{
    
} */

.hover-cursor{
    cursor: pointer;
}

.blurred-bg{
    position: absolute;
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(300px);
  /* -webkit-filter: blur(8px); */
}